<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>

        <div class="login-form-group">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username" placeholder="Enter your username" class="login-form-control" />
        </div>

        <div class="login-form-group">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password" placeholder="Enter your password" class="login-form-control" />
            <div *ngIf="invalidLogin" class="login-error">
                Invalid username or password!
            </div>
        </div>

        <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
        <div class="login-to-registration"><a href="auth/registration">Don't have an account ?</a></div>
    </form>
</div>